* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sono", monospace;
}

.container {
    padding: 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.hero-title {
    color: #e41595;
    font-size: 2.5em;
    font-weight: 900;
}

.team-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}

.team-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
    flex-basis: 100%;
    min-width: 280px;
    max-width: 500px;
}

@media (min-width: 900px) {
    .team-card {
        flex-basis: calc((100% - 50px) / 2);
    }
}

@media (min-width: 1600px) {
    .team-card {
        flex-basis: calc((100% - (50px * 2)) / 3);
    }
}

.card-text h3 {
    font-weight: 900;
}

.card-text p:nth-of-type(2) {
    color: rgb(77, 143, 188); 
    font-weight: 600;
}

.card-image img {
    max-height: 125px;
    display: block;
}